alabaster==1.0.0
altgraph==0.17.5
babel==2.18.0
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
docutils==0.22.4
idna==3.11
imagesize==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pefile==2024.8.26
Pygments==2.20.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pywin32-ctypes==0.2.3
requests==2.33.1
roman-numerals==4.1.0
setuptools==82.0.1
shiboken6==6.11.0
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
urllib3==2.6.3
